* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.sectionOne {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  letter-spacing: 0.1rem;
  .sectionOne--content {
    color: #000000d2;
    .nav--bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    nav {
      padding: 3% 5% 0 5%;
      text-transform: capitalize;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
          text-decoration: none;
          color: #000;
        }
        li {
          display: inline;
          margin: 0 1rem;
          float: right;
          &:hover {
            border-bottom: 1px solid #000000d2;
          }
        }
        .disabled {
          color: rgba(0, 0, 0, 0.514);
        }
      }
      .nav--logo {
        font-weight: bold;
      }
    }
  }
  .content--text {
    padding: 0 5% 0 10%;
    position: absolute;
    top: 5rem;

    h1 {
      font-size: 9vw;
      color: rgba(0, 0, 0, 0.83);
    }
    p {
      margin: 0 60% 0 0;
      line-height: 1.8rem;
      color: rgba(53, 53, 53, 0.77);
    }
  }
  .sectionOne--btmBox {
    position: absolute;
    bottom: 0;
    background-color: rgba(53, 53, 53, 0.48);
    height: 8rem;
    width: 60%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .Text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}
.sectionOne--img {
  background-image: url("../images/March\ on\ Washington3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

//-----------------------

//        MEDIA Q'S

//-----------------------

@media only screen and (max-width: 1250px) {
  .sectionOne {
    .sectionOne--content {
      color: #000000d2;
      nav {
        padding: 3% 5% 0 5%;
        text-transform: capitalize;

        ul {
          list-style-type: none;
          writing-mode: vertical-rl;
          position: absolute;
          margin: 5% 0 0 1.8rem;
          padding: 0;
          a {
            text-decoration: none;
            color: #000;
          }
          li {
            margin: 1.5rem 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .sectionOne {
    .sectionOne--content {
      color: #000000d2;
      nav {
        padding: 3% 5% 0 5%;
        text-transform: capitalize;

        ul {
          list-style-type: none;
          writing-mode: unset;
          position: absolute;
          // margin: 5% 0 0 1.8rem;
          padding: 0;
          bottom: 2.5rem;
          a {
            text-decoration: none;
            color: #000;
          }
          li {
            padding: 0 0.5rem;
            margin-bottom: 1rem;
            color: #000000;
          }
          .disabled {
            color: #000000;
          }
        }
      }
    }

    .sectionOne--btmBox {
      .Text {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .sectionOne {
    .sectionOne--content {
      color: #000000d2;
      nav {
        padding: 3% 5% 0 5%;
        text-transform: capitalize;

        ul {
          list-style-type: none;
          writing-mode: unset;
          position: absolute;
          margin: 0;
          padding: 0;
          bottom: 2.5rem;
          a {
            text-decoration: none;
            color: #000;
          }
          li {
            padding: 0 0.5rem;
            margin-bottom: 1rem;
            color: #000000;
          }
          .disabled {
            color: #000000;
          }
        }
      }
    }

    .sectionOne--btmBox {
      width: 100%;
      .Text {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .sectionOne {
    .content--text {
      padding: 0 5% 0 5%;
      p {
        margin: 0 55% 0 0;
        line-height: 1.8rem;
        padding-top: 0.5rem;
      }
    }
    .sectionOne--content {
      color: #000000d2;
      nav {
        padding: 3% 5% 0 5%;

        ul {
          .washingtonText {
            color: #ffffffad !important;
            // font-weight: bold;
          }

          li {
            padding: 0 1.5rem;
            margin-bottom: 1rem;
            color: #000000;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .sectionOne {
    .sectionOne--btmBox {
      .Text {
        position: absolute;
        bottom: 0;
        margin-left: 62%;
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  .sectionOne {
    .content--text {
      padding: 0 5% 0 5%;
      p {
        margin: 0 55% 0 0;
        line-height: 1.8rem;
        padding-top: 0.5rem;
      }
    }
    .sectionOne--content {
      color: #000000d2;
      nav {
        padding: 3% 5% 0 5%;

        ul {
          .washingtonText {
            color: #ffffffad !important;
            font-weight: bold;
          }

          li {
            padding: 0 1rem;
            margin-bottom: 0.5rem;
            color: #000000;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .sectionOne {
    display: grid;
    grid-template-columns: 100%;

    .sectionOne--content {
      .nav--bar {
        padding: 0;
        margin: 0;

        ul {
          li {
            a {
              color: #ffffff;
            }
          }
        }
      }

      .content--text {
        text-align: center;
        .headText {
          color: #000;
          opacity: unset;
          // font-size: 7vw;
          .line--break {
            display: none;
          }
        }
        p {
          margin: 1rem 0 0 0;
          color: #000;
          font-weight: bold;
          line-height: 2rem;
        }
      }

      .nav--logo {
        display: none;
      }
    }
  }

  .sectionOne--img {
    height: 100vh;
    bottom: 0;
    position: relative;
    opacity: 0.3;
    z-index: -10;
  }
}

@media only screen and (max-width: 400px) {
  .sectionOne {
    .sectionOne--content {
      .nav--bar {
        display: none;
        ul {
          li {
            padding: 0 0.5rem;
          }
        }
      }
    }

    .sectionOne--btmBox {
      .Text {
        position: absolute;
        bottom: 0;
        margin: 0.5rem 5.5rem;
      }
    }
  }
}
