* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
.quoteBorder {
  border: 5px solid #00000033;
  padding: 0.5rem;
  border-radius: 50%;
}

// Section one----------------
.sectionOne {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  letter-spacing: 0.1rem;
  .sectionOne__content {
    color: #000000d2;
    nav {
      padding: 3% 5% 0 5%;
      text-transform: capitalize;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          display: inline;
          margin: 0 6%;
          float: right;
          &:hover {
            border-bottom: 1px solid #000000d2;
          }
        }
        .nav--logo {
          float: left;
          font-weight: bold;
        }
      }
    }
  }
  .content__text {
    padding: 0 5% 0 10%;
    position: absolute;
    top: 5rem;

    h1 {
      font-size: 9vw;
      color: rgba(0, 0, 0, 0.83);
    }
    p {
      margin: 0 60% 0 0;
      line-height: 1.8rem;
      color: rgba(53, 53, 53, 0.77);
    }
  }
  .sectionOne__btmBox {
    position: absolute;
    bottom: 0;
    background-color: rgba(53, 53, 53, 0.48);
    height: 8rem;
    width: 60%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .Text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}
.sectionOne__img {
  background-image: url("../images/March\ on\ Washington3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  // transform: scaleY(0);
  // transform-origin: bottom;
  // opacity: 0;
}

// about ----------------------

// section two ----------------
.sectionTwo {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;

  .sectionTwo--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 53, 53, 0.48);

    p {
      line-height: 1.8rem;
      color: #ffffffad;
      padding: 0 30% 0 5%;
      letter-spacing: 0.1rem;
      padding-top: 3rem;
    }
  }

  .sectionTwo--img {
    background-image: url("../images/martin-luther-speech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    // position: relative;

    .text {
      font-size: 9vw;
      color: rgba(0, 0, 0, 0.83);
      font-weight: bold;
      position: absolute;
      margin-top: 10%;
      margin-left: 10%;
    }
  }
}

// -------------  SECTION THREE    ----------
.sectionThree {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;

  .sectionThree--img {
    background-image: url("../images/martin-luther-flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 80%;
  }
  .sectionThree--content {
    .text {
      font-size: 9vw;
      color: rgba(0, 0, 0, 0.83);
      font-weight: bold;
      position: absolute;
      margin-top: 2%;
      margin-left: 10%;
    }
    p {
      line-height: 1.8rem;
      // color: #ffffffad;
      margin: 55% 2% 0 23%;
      letter-spacing: 0.1rem;
    }

    .sectionOne__btmBox {
      position: relative;
      bottom: 0;
      background-color: rgba(53, 53, 53, 0.48);
      height: 8rem;
      width: 140%;
      bottom: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// -------------  SECTION FOUR    ----------
.sectionFour {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  .text {
    font-size: 9vw;
    color: rgba(0, 0, 0, 0.83);
    font-weight: bold;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
  }

  .sectionFour--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 53, 53, 0.48);

    p {
      line-height: 1.8rem;
      color: #ffffffad;
      padding: 0 30% 0 5%;
      letter-spacing: 0.1rem;
      padding-top: 3rem;
    }
  }

  .sectionFour--img {
    background-image: url("../images/martin-luther-king-jr.jpg");
  }
}
