$color_grey: #a3b1b1;
$color2: #d3d9d0;
$G1: #0c8448;
$G2: #07743b;
$color5: #232c2b;
$color6: #798786;

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

.navigation {
  // padding-bottom: 2%;
  // border-bottom: #000 solid 1px;
  margin: 0 6% 0 6%;
}

.nav-container {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}
// .main-content {
//   min-height: 100vh;
// }
nav {
  // padding-top: 2%;

  ul {
    list-style: none;
    text-transform: uppercase;

    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;

      a {
        display: block;
        margin: 0 50px;
        padding: 0 10px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #000;
        text-decoration: none;
        &:hover {
          // box-shadow:
          // text-shadow: 1px 1px 10px 1px #07743c70;
          text-shadow: 2px 2px 2px #07743c70;
        }

        &:visited {
          display: block;
          padding: 0 40px;
          color: #000;
          text-decoration: none;
        }

        &:not(:only-child):after,
        &:visited:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      }

      ul li {
        min-width: 190px;
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

#nav-toggle {
  position: absolute;
  left: 7px;
  top: 7px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  span {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 25px;
    background: #fff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
    border-radius: 4px;

    &:before,
    &:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 25px;
      background: #fff;
      position: absolute;
      display: block;
      content: "";
      transition: all 300ms ease-in-out;
      border-radius: 4px;
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }

  &.active span {
    background-color: transparent;

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

//  Header----------
.sectionOne--head {
  // background-color: ;
  margin: 0 10% 0 10%;
  position: relative;
  height: 100vh;
  .head--content {
    background-image: url(../images/martin-luther-linked-arms.jpg);
    background-size: cover;
    width: 100%;
    height: 95%;
    h1 {
      text-transform: uppercase;
      letter-spacing: 1rem;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding: 1rem;
      font-size: 4rem;
      color: rgb(255, 255, 255);
    }
    h2 {
      position: absolute;
      color: rgb(255, 255, 255);
    }
    img {
      position: relative;
      bottom: 20rem;
      width: 100%;
      z-index: -10;
    }
  }
}

//  section two ----------------
.sectionTwo {
  height: 100vh;
}
